{% extends "base.html" %}
{% load static %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <div class="display-3">Plume overlay</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-7">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Coordinates</span>
        </div>
        <div class="card-body">
          <form action="{% url 'api-v1:map-plume_img-api:imagery' %}" method="post" id="formCoordinates">
            <div class="row">
              <div class="col-md-12">
                <label for="idLatitude">Latitude</label>
                <input type="text" id="idLatitude" class="form-control" name="latitude" autofocus required>
                <label for="idLongitude">Longitude</label>
                <input type="text" id="idLongitude" class="form-control" name="longitude" required>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary">
                  Get map imagery
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Plume</span>
        </div>
        <div class="card-body">
          <form action="{% url 'api-v1:map-plume_img-api:overlay' %}"
                enctype="multipart/form-data" method="post" id="formPlumeFile">
            {% csrf_token %}
            <input type="hidden" name="uuid" id="imageryUUID">
            <div class="row">
              <div class="col-md-12">
                <input type="file" name="plume_file" class="form-control" required>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary">Overlay with plume</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Imagery</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <img src="" class="img-fluid" alt="Map imagery" id="mapImagery">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/csrfprotection.js' %}"></script>
  <script src="{% static 'js/plume-overlay.js' %}"></script>
{% endblock %}
